<!DOCTYPE html>
<html>
<head>
  <title>Food Syntax</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Titillium+Web:200,300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="logo">
      <%= image_tag "logo.svg"%>
    </div>

     <ul class="nav nav-tabs">
  			<li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
     </ul>

     <div class="pull-right user-info">
          <% if current_user %>
          Hello <%= current_user.name %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
      </div>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= yield %>
   </div>
   <footer>RSVision Design and Development 2016</footer>

</body>
</html>
